/* DEFAULT */
:root {
    --primary-clr-white: #F5F5F5;
    --primary-clr-dark: #262626;
    --primary-clr-accent: #F19A3E;

    --fs-section-header: 20px;
    --fs-section-desc: 18px;
    --fs-section-footer: 40px;
    --fs-copyright: 15px;

    --fw-menu: 400;
    --fw-section-header: 300;
    --fw-section-bold: 600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* HEADER */
.main-header {
    background: var(--primary-clr-white);
    text-align: center;
    padding: 1rem 1rem 1.5rem;
}

.main-logo {
    padding: 1rem;
    object-position: center;
}


/* PRIMARY NAVIGATION */
.primary-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.primary-nav ul li {
    display: inline-block;
    padding: 0.5rem;
    
}
.primary-nav ul li a {
    text-decoration: none;
    color: var(--primary-clr-dark);
    font-size: clamp(1rem, 2vw, 1.1rem );
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.primary-nav ul li a:hover {
    color: var(--primary-clr-accent);
}

@media only screen and (min-width: 768px){ 
    .main-header-container {
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
}



/* HERO SECTION */

.section-hero {
    position: relative;
    align-items: center;
    background-color: #F19A3E;
    max-width: 100%;
    max-height: 100%;
} 

.carousel_container {
} 

.slide img {
    width: 100%;
    height: 100%;
    display: block; 
}

 .slide {
     position: absolute;
     top: 0;
     list-style: none;
}   


 .carousel-btns {

} 

.carousel-btn {
    position: absolute;
    top: 50px;
    cursor: pointer;
    border-radius: 1rem;
    color: whitesmoke;
    background-color: rgba(94, 91, 91, 0.3);
    opacity: 0.5;
    padding: 0;
    border: 0;
}

.carousel-btn.right {
    right: 20px;
}  

.carousel-btn.left {
    left:  20px;
   }

.carousel-btn img{
    width: 3rem;
}  


.carousel-btn:hover,
 .carousel-btn:focus{
    background-color: rgba(80, 75, 75, 0.3);
    opacity: 1;
}

.carousel-btn:focus {
    outline: 1px solid black; 
}

.carousel-nav {
    position: absolute;
    top: 120px;
    right: 170px;
    padding: 2px 0;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: rgba(80, 75, 75, 0.3);
    padding: 5px;
    margin: 0 5px;
} 

.carousel_indicator.active {
    background-color: rgba(219, 35, 35, 0.3);
}