/* DEFAULT */
:root {
    --primary-clr-white: #F5F5F5;
    --primary-clr-dark: #262626;
    --primary-clr-accent: #F19A3E;

    --fs-section-header: 20px;
    --fs-section-desc: 18px;
    --fs-section-footer: 40px;
    --fs-copyright: 15px;

    --fw-menu: 400;
    --fw-section-header: 300;
    --fw-section-bold: 600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* HEADER */
.main-header {
    background: var(--primary-clr-white);
    text-align: center;
    padding: 1rem 1rem 1.5rem;
}

.main-logo {
    padding: 1rem;
    object-position: center;
}


/* PRIMARY NAVIGATION */
.primary-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.primary-nav ul li {
    display: inline-block;
    padding: 0.5rem;
    
}
.primary-nav ul li a {
    text-decoration: none;
    color: var(--primary-clr-dark);
    font-size: clamp(1rem, 2vw, 1.1rem );
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.primary-nav ul li a:hover {
    color: var(--primary-clr-accent);
}

@media only screen and (min-width: 768px){ 
    .main-header-container {
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
}



/* HERO SECTION */
.carousel {
    position: relative;
    width: 100%;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide img {
    display: block;
    width: 100%;
}

.slide[data-active] { 
    opacity: 1;
}

.carousel-btn {
     position: absolute;
     z-index: 2;
     border: none;
     font-size: 1rem;
     color: #1f1d1d;
     cursor: pointer;
     border-radius: .25rem;
     background-color: rgb(204, 198, 198);
     opacity: 0.2;
}

.carousel-btn:hover,
.carousel-btn:focus{
    color: var(--primary-clr-white);
    background-color: var(var(--primary-clr-white));
    opacity: 1;
}

.carousel-btn:focus {
    outline: 1px solid black;
}

.carousel-btn.prev {
 left: 3rem;
 top: 4rem;
}

.carousel-btn.next {
 right: 3rem;
 top: 4rem; 
}